{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl dark:text-white font-bold tracking-tight text-gray-900 p-4">{% block title %} Food {% endblock %}
</h1>
<form class="max-w-sm mx-auto" action="/submit" method="post">
    <div class="mb-5">
        <label for="food_name" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Name of Food</label>
        <input type="text" id="food_name" name="food_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-5">
        <label for="food_weight" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Weight</label>
        <input name="food_weight" type="number" step="0.01" id="food_weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-5">
        <label for="food_brand" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Brand</label>
        <input name="food_brand" type="text" id="food_brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>

    <div class="mb-5">
        <label for="food_time" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Feeding Time</label>
        <input name="food_time" type="time" id="food_time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>

    <label for="food_category" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Select Category</label>
    <select id="food_category" name="food_category"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

        <option value="Fruits">Fruits</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Meat">Meat</option>
        <option value="Dairy">Dairy</option>
        <option value="Grains">Grains</option>
        <option value="Other">Other</option>
    </select><br><br>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit Food</button>
</form>
{% endblock %}