{% extends 'base.html' %}

{% block content %}
<div onload="setActive('item1')">
    <h1 class="text-4xl text-black dark:text-white font-bold tracking-tight text-gray-900 pl-4 pt-4">{% block title %}
        The Poop
        dashboard {% endblock %}</h1>
    <p class="pl-4 text-lg">Track your cats health and manage her feeding.</p>
    <div class="grid grid-cols-2 ">
        <div class="justify-items-start dark:bg-slate-400 p-4 m-4 rounded-lg shadow-2xl">
            <h1 class="text-xl font-bold tracking-tight text-gray-900">Subscribe for your cats health</h1>
            <hr>
            <section class="flex flex-row">
                <div class="basis-1/2">
                    <form class="max-w-sm mx-left mt-3" action="/submit_subscribing" method="post">

                        <div class="mb-3">
                            <label for="subscriber_name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input name="subscriber_name" type="text" id="subscriber_name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="subscriber_phone"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                                number:</label>
                            <div class="relative">
                                <div
                                    class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                                        <path
                                            d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z" />
                                    </svg>
                                </div>
                                <input type="text" name="subscriber_phone" id="subscriber_phone"
                                    aria-describedby="helper-text-explanation"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    pattern="[0-9]{3}[0-9]{3}[0-9]{2}0-9]{2}" placeholder="0796667788" required>
                            </div>
                        </div>
                        <br>

                        <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Subscribe</button>
                    </form>
                </div>
                <div class="basis-1/2">

                    <img src="{{ url_for('static', filename='ressources/twillio_qr.svg') }}"
                        class="mx-auto h-60 w-fit p-4" alt="Image of Twillio Sandbox">
                </div>
            </section>
        </div>
        <div class="justify-items-start dark:bg-slate-400 p-4 m-4 rounded-lg shadow-2xl">
            <h1 class="text-xl font-bold tracking-tight text-gray-900">Current sensor values</h1>
            <hr>
            <section>
                <div class="pb-10">
                    <div class="flex flex-row pb-4">
                        <p>Weight Sensor: </p>
                        <p name="weight_sensor" id="weight_sensor" class="pl-4 font-bold">10000</p>
                        <p  class="pl-1 font-bold">Grams</p>
                    </div>
                    <div>
                        <p>Gas Sensor: </p>
                        <div class="flex flex-row">
                            <label for="gas_sensor_smoke" class="">Smoke:</label>
                            <p name="gas_sensor_smoke" id="gas_sensor_smoke" class="pl-2 font-bold"> 10000</p>

                            <label for="gas_sensor_co" class="pl-2">CO:</label>
                            <p name="gas_sensor_co" id="gas_sensor_co" class="pl-2 font-bold"> 10000</p>

                            <label for="gas_sensor_lpg" class="pl-2">LPG:</label>
                            <p name="gas_sensor_lpg" id="gas_sensor_lpg" class="pl-2 font-bold"> 10000</p>

                        </div>

                    </div>
                </div>
                </section>
                <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-5" onclick="sendMessage()">Check WebSocket Connection</button>
            
        </div>
    </div>


    <div class="min-w-0 break-words  m-4 p-4 mb-6 shadow-lg rounded-lg bg-gray-800">
        <div class="rounded-t mb-0 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class=" flex-grow flex-1">
                    <h2 class="text-white text-xl font-semibold">
                        Overview
                    </h2>
                </div>
            </div>
        </div>
        <div class="p-4">
            <canvas height="300" id="line-chart-overview"></canvas>
        </div>
    </div>

    <div class="min-w-0 break-words  m-4 p-4 mb-6 shadow-lg rounded-lg bg-gray-800">
        <div class="rounded-t mb-0 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class=" flex-grow flex-1">
                    <h2 class="text-white text-xl font-semibold">
                        Poops
                    </h2>
                </div>
            </div>
        </div>
        <div class="p-4">
            <canvas height="300" id="line-chart-poop"></canvas>
        </div>
    </div>

    <div class="min-w-0 break-words  m-4 p-4 mb-6 shadow-lg rounded-lg bg-gray-800">
        <div class="rounded-t mb-0 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class=" flex-grow flex-1">
                    <h2 class="text-white text-xl font-semibold">
                        Cat Weight
                    </h2>
                </div>
            </div>
        </div>
        <div class="p-4">
            <canvas height="300" id="line-chart-cat"></canvas>
        </div>
    </div>

    <div class="min-w-0 break-words  m-4 p-4 mb-6 shadow-lg rounded-lg bg-gray-800">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative flex-grow flex-1">
                    <h2 class="text-white text-xl font-semibold">
                        Gas value
                    </h2>
                </div>
            </div>
        </div>
        <div class="p-4">
            <canvas height="300" id="line-chart-gas"></canvas>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" charset="utf-8"></script>
<script src="../static/js/dashboard.js"></script>
<script src="../static/js/websocket_index.js"></script>
{% endblock %}