{% extends 'base.html' %}

{% block content %}
<div onload="setActive('item1')">
    <h1 class="text-4xl text-black dark:text-white font-bold tracking-tight text-gray-900 pl-4 pt-4">{% block title %}
        The Poop 
        dashboard {% endblock %}</h1>
    <p class="pl-4 text-lg">Track your cats health and manage her food.</p>

    <div class="min-w-0 break-words  m-4 p-4 mb-6 shadow-lg rounded-lg bg-gray-800">
        <div class="rounded-t mb-0 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class=" flex-grow flex-1">
                    <h2 class="text-white text-xl font-semibold">
                        Weight value
                    </h2>
                </div>
            </div>
        </div>
        <div class="p-4">
            <canvas height="300" id="line-chart"></canvas>
        </div>

    </div>

    <div class="min-w-0 break-words  m-4 p-4 mb-6 shadow-lg rounded-lg bg-gray-800">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative flex-grow flex-1">
                    <h2 class="text-white text-xl font-semibold">
                        Gas value
                    </h2>
                </div>
            </div>
        </div>
        <div class="p-4">
            <canvas height="300" id="line-chart-gas"></canvas>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" charset="utf-8"></script>
<script src="../static/js/dashboard.js"></script>
<script src="../static/js/navigation.js"></script>
{% endblock %}