{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Sensors {% endblock %}</h1>
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="../static/ressources/loadcell.jpg" class="card-img-top" alt="Image of a loadcell">
        <div class="card-body">
            <h5 class="card-title">Weight Sensor</h5>
            <p class="card-text">This sensor meassures the weight of the cat and her shit</p>
            <ul class="list-group list-group-flush">
                {% for poop in poops %}
                <li class="list-group-item">
                    <p>PoopId: {{ poop.ID_poop }} weight: {{ poop.weight }}</p>
                </li>
                {% endfor %}
            </ul>
            <a href="weightsensor" class="btn btn-primary">Open Data</a>
        </div>
    </div>
</div>
{% endblock %}