{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl dark:text-white font-bold tracking-tight text-gray-900 p-4">{% block title %} Sensors {% endblock %}
</h1>
<hr>
<div class="flex flex-row">
    <div class="basis-1/4 dark:bg-slate-400 p-4 m-4 rounded-lg shadow-2xl">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 pb-4">Loadcell - Poops</h1>
        <div>
            <img src="{{ url_for('static', filename='ressources/loadcell.png') }}" class="h-60 w-fit rounded-lg pb-4" alt="Image of a loadcell">
            <p>This sensor meassures the weight of the cat and her poop</p>
            <p class="text-xl font-bold text-slate-900">Recent Data</p>
            <ul role="list" class="divide-y divide-slate-200">
                {% for poop in poops %}
                <li class="flex py-4 first:pt-0 last:pb-0">
                    <p class="text-sm font-medium text-slate-900"><b>PoopId: </b>{{ poop.ID_poop }} <b>weight: </b>{{ poop.weight }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="basis-1/4 dark:bg-slate-400 p-4 m-4 rounded-lg shadow-2xl">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 pb-4">Gassensor</h1>
        <div>
            <img src="{{ url_for('static', filename='ressources/gassensor.png') }}" class="h-60 w-fit rounded-lg pb-4" alt="Image of a loadcell">
            <p>This sensor meassures the air quality on the cat toilet</p>
            <p class="text-xl font-bold text-slate-900">Recent Data</p>
            <ul role="list" class="divide-y divide-slate-200">
                {% for air in airs %}
                <li class="flex py-4 first:pt-0 last:pb-0">
                    <p class="text-sm font-medium text-slate-900"><b>Id: </b>{{ air.ID_air_quality }} <b>lpg: </b>{{ air.lpg }} <b>co: </b>{{ air.co }} <b>smoke: </b>{{ air.smoke }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="basis-1/4 dark:bg-slate-400 p-4 m-4 rounded-lg shadow-2xl">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 pb-4">Camera</h1>
        <div>
            <img src="{{ url_for('static', filename='ressources/camera.webp') }}" class="h-60 w-fit rounded-lg pb-4" alt="Image of a loadcell">
            <p>The Camera detects if a cat is on the toilet and classify which cat it is</p>
        </div>
    </div>
</div>
{% endblock %}